.footer {
    font-family: "Montserrat", sans-serif;
    border-top: 2px solid #000;
    margin-top: 30px;

    &__nav {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__links {
        display: flex;
        justify-content: space-between;

        &-1 {
            display: block;
            margin-right: 120px;
        }

        &-flex {
            display: grid;
        }

        &-title {
            font-size: 20px;
            color: #000;
            font-weight: 700;
            margin-bottom: 15px;
        }

        &-a {
            font-size: 15px;
            color: #8C8C8C;
            margin-bottom: 10px;
        }
    }
}